[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git@github.com:magit/magit.git
[submodule "site-lisp/keyfreq"]
	path = site-lisp/keyfreq
	url = git@github.com:dacap/keyfreq.git
[submodule "site-lisp/delight"]
	path = site-lisp/delight
	url = https://github.com/antonio/delight.el
[submodule "site-lisp/helm-projectile"]
	path = site-lisp/helm-projectile
	url = git@github.com:bbatsov/helm-projectile.git
[submodule "site-lisp/evil-org-mode"]
	path = site-lisp/evil-org-mode
	url = git@github.com:edwtjo/evil-org-mode.git
[submodule "site-lisp/evil-paredit"]
	path = site-lisp/evil-paredit
	url = git@github.com:roman/evil-paredit.git
[submodule "site-lisp/helm-descbinds"]
	path = site-lisp/helm-descbinds
	url = git@github.com:emacs-helm/helm-descbinds.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "site-lisp/org-manage"]
	path = site-lisp/org-manage
	url = git@github.com:dmgerman/org-manage.git
[submodule "site-lisp/org-elisp-help"]
	path = site-lisp/org-elisp-help
	url = git@github.com:tarsius/org-elisp-help.git
[submodule "site-lisp/evil-plugins"]
	path = site-lisp/evil-plugins
	url = git@github.com:tarao/evil-plugins.git
