[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/use-package"]
	path = site-lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "site-lisp/tomatinho"]
	path = site-lisp/tomatinho
	url = https://github.com/konr/tomatinho.git
[submodule "site-lisp/dash.el"]
	path = site-lisp/dash.el
	url = git@github.com:magnars/dash.el.git
[submodule "site-lisp/mic-paren"]
	path = site-lisp/mic-paren
	url = git@github.com:emacsmirror/mic-paren.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "site-lisp/helm-ls-git"]
	path = site-lisp/helm-ls-git
	url = git@github.com:emacs-helm/helm-ls-git.git
[submodule "site-lisp/scss-mode"]
	path = site-lisp/scss-mode
	url = git@github.com:antonj/scss-mode.git
